.aboutme-section {
	padding:5px 0px;
}
.aboutme-section h3 {
	padding-bottom:5px;
}
.aboutme-section h2 {
	margin-top:5px;
	padding-top:5px;
	padding-bottom:5px;
	border-top:1px solid gray;
	border-bottom:1px solid gray;
}
